<!DOCTYPE html> <head> <meta charset="UTF-8"> </head>


<link rel="stylesheet" href="https://farzher.com/assets/bootstrap4.css">
<link rel="stylesheet" href="https://farzher.com/assets/farzher.css">
<style>
  b { color: #dc3545; }
  html { overflow-y: scroll; }
</style>


<script src="../fuzzysort.js"></script>
<script src="./testdata.js"></script>
<script src="./test.js"></script>
<script src="https://unpkg.com/vue@3.2.35/dist/vue.global.prod.js"></script>



<div id="vue" class="jumbotron" style="background:none">
  <div class="container" style="max-width: 720px;">

    <!-- testdatakeys -->
    <div class="btn-group">
      <label v-for="key of testdatakeys" class="btn btn-outline-secondary" :class="{active: key===testdatakey}">
        <input type="radio" @change="search" style="display:none" v-model="testdatakey" :value="key"> {{key}}
      </label>
    </div>
    <br> <br>

    <!-- input -->
    <div class="my-input-div" style="width:100%">
      <input id="input" class="my-input" autofocus style="width:100%" v-model="input" :placeholder="testdatakey" :data-empty="!input" @input="search" />
      <hr class="my-input-hr">
    </div>

    <!-- results -->
    <div id="results">
      <p v-if="results.length">{{results.total}} matches in {{duration}}ms</p>
      <ul style="list-style:none">
        <li v-for="result of results" v-html="renderResult(result)"></li>
      </ul>
    </div>
  </div>
</div>



<script>;(function() {
  var vue = window.vue = Vue.createApp({

    data() {
      return {
        testdatakeys : Object.keys(testdata_prepared),
        testdatakey  : 'urls_and_titles',

        input        : '',
        results      : [],
        duration     : 0,
        keys         : [],
      }
    },

    methods: {
      renderResult: result => {
        let x = mapnumber(result.score, 0, 1, 66, 200, {ex:2})
        if(result.score > .5) x += 30
        return `<span style="color: rgb(${x},${x},${x})">${doit()}</span>`

        function doit() {
          if(!vue.keys.length) return `${formatscore(result.score)} - ${result.highlight()}`

          let str = `${formatscore(result.score)} - `
          for(let i=0; i<vue.keys.length; i++) {
            if(result[i].target === '') str += result.obj[vue.keys[i]]
            if(i === 0) str += '<strong>'
            str += result[i].highlight()
            if(i === 0) str += '</strong>'
            str += `<br>&nbsp;&nbsp;&nbsp;${'&nbsp;'.repeat(formatscore(result.score).toString().length)}`
          }
          str += '<br>'
          return str
        }
      },
      search() {
        document.getElementById('input').focus()

        const startms = getms()

        const targets_are_strings = typeof testdata[vue.testdatakey][0] === 'string'
        if(targets_are_strings) {
          vue.keys = []
          vue.results = fuzzysort.go(vue.input, testdata_prepared[vue.testdatakey], {limit: 100})
        } else {
          vue.keys = Object.keys(testdata[vue.testdatakey][0])
          vue.results = fuzzysort.go(vue.input, testdata[vue.testdatakey], {keys: vue.keys, all:true, limit: 100})
        }

        vue.duration = formatscore(getms()-startms)
      },
    },

  }).mount('#vue')

  function formatscore(score) { return Math.floor(Math.abs(score)*1000)/1000 }
  function getms() { return performance.now() }
  function mapnumber(e,n,r,a,t,u){var b,m,o,p;b=r-n,m=t-a,o=(e-n)/b,u?.ex&&(p=o<0,o=Math.pow(Math.abs(o),u.ex),p&&(o=-o));let x=m*o+a;return x}

  document.body.onload = () => {
    const $input = document.getElementById('input')
    document.onkeyup   = e => { if(e.key == 'Escape') $input.select() }
    document.onkeydown = e => $input.focus()
    vue.search()
  }

})()</script>
